# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env.example/
.env.example

# Logs and temporary files
*.log
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
